<%= debug Devise::RegistrationsController.methods.sort %>
<h3>Invite that staff</h3>

<%= form_tag user_registration_path, remote: true do %>

  <%= hidden_field :user, :password %>
  <%= hidden_field :user, :password_confirmation %>
  <%= text_field :user, :email %>
  <%= submit_tag "Invite!" %>

<% end %>
