<!DOCTYPE html>
<html>
<head>
  <title>PrRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_class %>">
<a name="pagetop"></a>
  <% if admin? %>
    <%= render "layouts/admin_menu" %>
  <% end %>
  <% if normal_user %>
    <%= render "layouts/user_menu" %>
  <% end %>
  <div id="prWrapper">
    <div id="prContainer">
      <div id="header">     
        <p><%= xlink_to image_tag('logo_no_tagline.png', :id => "logo", :alt => "Plantright Home"), "" %></p>
        <p id="tagline">Stopping the sale of invasive plants in California</p>
        <div id="donate">
          <a href="http://weblink.donorperfect.com/donate_plantright"><span>Donate Now</span></a>
        </div>
      </div><!-- end #header -->

      <div id="page">

        <div id="leftnav">  

        <ul class="menu">
          <li class="first dhtml-menu parent collapsed"><%= link_to "About Us", "#" %>
            <ul class="menu">
              <li class="leaf first dhtml-menu  active-trail"><%= xlink_to "History", "history" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "Staff", "staff" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "Steering Committee", "steering-committee" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "Supporters", "supporters" %></li>
              <li class="leaf last dhtml-menu "><%= xlink_to "Contact Us", "contact/plantright" %></li>
            </ul>
          </li> 
          <li class="dhtml-menu parent collapsed"><%= link_to "Invasive Plants & Alternatives", "#" %>
            <ul class="menu">
              <li class="leaf first dhtml-menu "><%= xlink_to "Plants by region of California", "map" %>
              <li class="leaf  dhtml-menu "><%= xlink_to "Impacts of invasive plants", "impacts" %></li>
              <li class="leaf last dhtml-menu "><%= xlink_to "Benefits of Planting Right", "benefits" %></li>
            </ul>
          </li>
          <li class="dhtml-menu parent collapsed"><%= link_to "How to Help", "#" %>
            <ul class="menu">
              <li class="leaf first dhtml-menu "><%= xlink_to "Home gardeners", "home-gardeners" %>
              <li class="leaf  dhtml-menu "><%= link_to "Nursery professionals", root_path %>
              <li class="leaf  dhtml-menu "><%= xlink_to "Help spread the word", "spread-word" %>
              <li class="leaf  dhtml-menu "><%= xlink_to "Spring Nursery Survey", "spring-nursery-survey" %>
              <li class="leaf last dhtml-menu "><%= link_to "Donate", "http://weblink.donorperfect.com/donate_plantright" %> 
            </ul>
          </li>
          <li class="last dhtml-menu parent collapsed"><%= link_to "Resources", "#" %>
            <ul class="menu">
              <li class="leaf first dhtml-menu "><%= xlink_to "News", "news" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "Library", "library" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "Research", "research" %></li>
              <li class="leaf  dhtml-menu "><%= xlink_to "For the press", "press" %></li>
              <li class="leaf last dhtml-menu "><%= xlink_to "FAQ", "questions" %></li>
            </ul>
          </li>
        </ul>

          <div id="login">
            <% if user_signed_in? %>
              Logged in as:<br /><%= content_tag :strong, "#{current_user.full_name}" %><br /> 
              <%= link_to "Edit profile", edit_user_registration_path %> | 
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path %> | 
              <%= link_to "Login", new_user_session_path %>
            <% end %>
          </div><!-- end #login -->
        </div><!-- end #leftnav -->

        <div id="main">

          <% flash.each do |key, value| %>
            <%= content_tag :div, value, :class => "flash #{key}" %>
          <% end %>
          <%= yield %>

          <div id="footer">
            <div id="copyright">
            <p>&copy; 2007–2011 California Horticultural Invasives Prevention (Cal-HIP)</p>
            </div>

            <div id="footernav">
            <p><a href="/contact/plantright">Contact Us</a> &nbsp;|&nbsp;  <a href="/contact/website">Website feedback</a>  &nbsp;|&nbsp;   Site by <a href="http://ignoredbydinosaurs.com">IBD</a> and <a href="http://filadesign.com">FILA Design</a></p>
            </div>
          </div><!-- end #footer -->  

        </div><!-- end #main -->
      </div><!-- end #page -->
    </div><!-- end prContainer -->
  </div><!-- end prWrapper -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23178332-1']);
    _gaq.push(['_setDomainName', 'plantright.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
